<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/Head'); %>
</head>
<body>
    <main>
        <table border="2">
            <tr>
                <td>Id</td>
                <td>Usuario</td>
                <td>Correo</td>
                <td>Password</td>
            </tr>
            <% for(var i=0; i < usersList.length; i++) { %>
            <tr>
                <td><%= usersList[i]._id %></td>
                <td><%= usersList[i].User %></td>
                <td><%= usersList[i].Mail %></td>
                <td><%= usersList[i].Password %></td>
            </tr>
            <%} %>
        </table>
    </main>
</body>

<script src="./scripts/script.js"></script>
</html>